<style>
/*
 * Thanks to https://subtlepatterns.com/ for the background.
*/
* {
    font-family: Verdana, monospace;
}
body {
  background: url('https://subtlepatterns.com/patterns/congruent_outline.png') repeat 0 0;
  font-family: Verdana, monospace;
}
section {
  background: #fff;
  box-shadow: 2px 2px 0 1px rgba(0, 0, 0, .1);
  margin: 3em auto;
  padding: 2em;
  width: 600px;
}
input {
  font-size: 1em;
  padding: 1em;
}
#input_container { 
    position: relative;
    padding: 0;
    margin: 25px 0px;
}
#input_container input { 
    margin:0;
    padding-left:30px;
}
#input_container img {
    position: absolute;
    bottom: 8px;
    left: 7px;
    width: 17px;
    cursor: pointer;
}
</style>
<script>

    function removeCookie() {


var input = document.getElementById("password");
     
 
    function getItemHrefById(json, itemId){ 
        for (var i in json) {
            if (json[i].id == itemId) {
                return json[i].password;
            }
        }
    }
    
    function setItemHrefById(json, itemId, val) {
        for (var i in json) {
            if (json[i].id == itemId) {
                json[i].password = val;
                break;
            }
        }
        return json;
    };   
        
    
    var json = JSON.parse(localStorage["users"]);
    var href = getItemHrefById(json, "1");
    
    
    
        json = setItemHrefById(json, '1', input.value);
        var href = getItemHrefById(json, "1");
        // update storage:
        console.log(json);
        localStorage["users"] = JSON.stringify(json);
    

}
function mouseoverPass(obj) {
  var obj = document.getElementById('password');
  obj.type = "text";
}
function mouseoutPass(obj) {
  var obj = document.getElementById('password');
  obj.type = "password";
}

function myFunction() {
    var x = document.getElementById("password");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}




      </script>
<div ng-repeat="user in vm.allUsers">
<h1>Hi {{user.firstName}}!</h1>
<p>You're logged in!!</p>
<ul>
    <li >

        {{user.username}} ({{user.firstName}} {{user.lastName}})
                          <span ng-hide="editing" ng-click="editing = true" ><a>change password</a></span>

                  <form ng-show="editing" ng-submit="editing = false" style="padding: 0px 0px 20px;">
                            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                              <div id="input_container">
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
            <img src="eye.png" onclick="myFunction()" />
            </div>
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div> 
                    
                    
                    <button class="btn btn-primary button" id="save" onclick="removeCookie()">Change Password</button> </br>
                  </form>
         <a ng-click="vm.deleteUser(user.id)">delete account</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a class="btn btn-primary" href="#!/login" class="btn btn-primary">Logout</a></p>   
    